body {
	background: lightpink;
}

.selection {
	display: flex;
	justify-content: center;	
}

.selection {
	background: black;
	border: beige;
	outline: lightpink;
	cursor: pointer;
	font-size: 5rem;
	transition: 200ms;
}

.selection :hover {
	transform: scale(2.0);
}

.results {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
}