body {
	background-color: lightsalmon;
}

.selections {
	display: flex;
	justify-content: center;
}

.selections{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 10rem;
	transition: 100ms;
	width: 5%;
}

.selections: hover {
	transform: scale(2.1);
}

.results {
	margin-top: 1rem;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}

.results-score {
	margin-left: .10rem;
	font-size: .5rem;
	color: #99A3A4;

}

.result-selection {
	opacity: .5;

}


.result-selection.winner {
	opacity: 1;
	font-size: 1.5rem;

}